<div class="col-md-12 container">
    
    <% if user_signed_in? %>
        <h1>Personal</h1>
        <hr>
        <p>API Key: <%= current_user.token %></p>
        <p><%= link_to "Create new", new_machine_path %></p>
        <h1>Machines</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>IP</th> 
                <th>Status</th> 
                <th>Deployed</th>
                <th>Delete</th>

            </tr>
            
            <% @machines.each do |machine| %>
                <tr class="machines <%= cycle('oddrow', 'evenrow') -%>">
                    <td><%= machine.title %></td>
                    <td><%= machine.ip %></td> 
                    <td><span class="glyphicon glyphicon-ok success"></span></td>
                    <td><%= machine.deployed %></td>
                    <td><%= link_to 'Destroy',  machine_path(machine),
                                    data: { confirm: 'Are you sure?' }, method: :delete %></td>
                </tr>
            <% end %>
        </table>
    <% end %>
    
        

</div>
