<div class="col-md-12 container">

    <% if user_signed_in? %>
        <div class="col-md-12">
          <h1>Personal</h1>
          <p>API Key: <%= current_user.token %></p>
        <hr>

        </div>

        <p><%= link_to "Create new virtual machine", new_machine_path, class: 'btn btn-primary dropdown-toggle' %></p>
        <% if @machines.length == 0 %>
          <div class="alert alert-info" role="alert">
            <strong>Info</strong> No current virtual machines
          </div>
        <% else %>
          <h1>Machines</h1>
          <table class="col-md-12">
              <tr>
                  <th>Title</th>
                  <th>Distribution</th>
                  <th>Address</th>
                  <th>Action</th>

              </tr>

              <% @machines.each do |machine| %>
                  <tr class="machines <%= cycle('oddrow', 'evenrow') -%> <% if  machine.build_status == 'failure' %> oddrow <% end %>">
                      <td><%= link_to machine.title, machine_path(machine.title) %> (<%= link_to 'Logs', machine_log_path(machine.title), target: :_blank %>) </td>
                      <td><%= machine.distribution %></td>
                      <td><%= machine.vm_user %>@<%= machine.ip %></td>
                      <td id="machine_actions_container">

                          <% if not machine.deployed %>
                              <span class="glyphicon glyphicon-pause disabled_button"></span>
                              <span class="glyphicon glyphicon-play disabled_button"></span>
                              <span class="glyphicon glyphicon-repeat disabled_button"></span>
                              <% if machine.created_at.utc + 3.minutes < (Time.now).utc  %>
                                  <%= link_to '',  machine_path(machine.title),
                                      data: { confirm: 'Are you sure?' }, method: :delete, id: "destroy_machine_#{machine.title}", class: 'glyphicon glyphicon-remove-sign' %>
                              <% else %>
                                  <span class="glyphicon glyphicon-remove disabled_button"></span>
                              <% end %>
                          <% else %>
                              <%= link_to '',  machine_down_path(machine.title),
                                          data: { confirm: 'Are you sure?' },id: "down_machine_#{machine.title}", class: "glyphicon glyphicon-pause" %>

                              <%= link_to '',  machine_up_path(machine.title),
                                          data: { confirm: 'Are you sure?' },id: "up_machine_#{machine.title}", class: "glyphicon glyphicon-play" %>
                              <%= link_to '',  machine_restart_path(machine.title),
                                          data: { confirm: 'Are you sure?' },id: "restart_machine_#{machine.title}", class: "glyphicon glyphicon-repeat" %>

                              <%= link_to '',  machine_path(machine.title),
                                      data: { confirm: 'Are you sure?' }, method: :delete,id: "destroy_machine_#{machine.title}", class: "glyphicon glyphicon-remove-sign" %>
                           <% end %>
                      </td>

                  <tr class="machines">
                      <td colspan="4">
                          <% if machine.deployed && machine.build_status != 'failure' %>
                              <% if machine.alive %>
                                  <div class="alert alert-info inline-block" role="alert">
                                      <strong>Status:</strong>
                                      Running
                                  </div>
                              <% else %>
                                  <div class="alert alert-danger inline-block" role="alert">
                                      <strong>Status:</strong>
                                      Down
                                  </div>
                              <% end %>
                          <% elsif machine.build_status == 'failure' %>
                              <div class="alert alert-danger inline-block" role="alert">
                                <strong>Status:</strong>
                                Machine failed to deploy: <%= link_to 'Logs', machine_log_path(machine.title), target: :_blank %>
                              </div>
                          <% else %>
                              <div class="alert alert-warning inline-block" role="alert">
                                  <strong>Status:</strong>
                                  Machine is still deploying
                              </div>
                          <% end %>
                      </td>

                  </tr>
                  <% if  machine.build_status == 'failure' %>
                    <tr></tr>
                    <tr></tr>
                  <% else %>
                  <tr id="<%= machine.title %>_download_certificate_tr" class="machines <%= cycle('oddrow', 'evenrow') -%>">
                      <% if machine.pem %>
                          <td colspan="4">
                              <p class="alert-warning">
                                  To securely connect to your machine, you have to use .pem certificate file to prove your identity.<br/>
                                  Download file now and store it securely, we will not store this file on our servers. If you download the file and lose it, that will make it impossible to connect to that machine.
                                  <br/><strong>By clicking the link you agree that you have read the warning</strong>
                              </p>
                              <%= link_to 'Download certificate',  machine_certificate_url(machine.title),
                                  id: "#{machine.title}_download_certificate",
                                  target: "_blank"
                              %>

                              <script>
                                  // hide button on click
                                  $("#<%= machine.title %>_download_certificate").click(function(){
                                      if(confirm("WARNING ! Keep that certificate in a safe place and use it to log in. You can download the certificate only once, if lost, the machine will be impossible to access !")){
                                          $("#<%= machine.title %>_download_certificate_tr").hide();
                                          console.log("You have been warned")
                                      }
                                      else{
                                          return false;
                                      }
                                  });
                              </script>
                          </td>
                      <% end %>
                  </tr>

                  <tr class="machines">
                      <td colspan="4">
                          To connect to this machine, navigate to the directory of the certificate and issue the following commands<br/>
                          <code>chmod 400 <%= machine.title %>.pem && ssh -i <%= machine.title %>.pem <%= machine.vm_user %>@<%= machine.ip %> </code>
                      </td>
                  </tr>
                  <% end %>
              <% end %>
          </table>
      <% end %>
    <% end %>


</div>
