<div class="col-md-12 container">

  <%= simple_form_for @machine do |f| %>
    <%= f.input :title %>
    <%= f.input :vm_user %>

    <%= f.input :ports, label: 'Ports, comma separated' %>
    <%= f.input :distribution, selected: 'ubuntu', collection: @machine.distributions.keys %>
    <%= f.input :ram, label: 'RAM in Megabytes (Random Access Memory)', placeholder: 'Between 256 and 1024 MB' %>
    <%= f.input :packages, {
        as: :check_boxes, 
        collection: @machine.get_packages { |p| [p, p]},
        include_hidden: false ,
        checked: false,
        input_html: { multiple: true }
      }
    %>
    
    <%= f.button :submit %>
  <% end %>
</div>