<div class="col-md-12 container">
    
    <% if user_signed_in? %>
        <h1>Personal</h1>
        <hr>
        <p>API Key: <%= current_user.token %></p>
        <p><%= link_to "Create new", new_machine_path %></p>
        <h1>Machines</h1>
        <table class="col-md-12">
            <tr>
                <th>Title</th>
                <th>Address</th> 
                <th>Certificate</th>
                <th>Action</th> 

            </tr>
            
            <% @machines.each do |machine| %>
                <tr class="machines <%= cycle('oddrow', 'evenrow') -%>">
                    <td><%= machine.title %></td>
                    <td><%= machine.ip %>@<%= machine.vm_user %></td>
                    <%#<% if machine.pem %>
                        <td>
                            <%= link_to 'Download',  machine_certificate_url(machine.title),
                                        data: { confirm: 'WARNING ! Keep that certificate in a safe place and use it to log in. You can download the certificate only once, if lost, the machine will be impossible to access !' } %>
                        </td>
                    <% end %>%>
                    <%#<td>
                        <% if machine.alive %>
                            <span class="alert-success">Running</span>
                        <% else %>
                            <% if machine.deployed %>
                                <span class="alert-danger">Not responding</span>
                            <% else %>
                                <span class="alert-warning">Deploying</span>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <% if machine.deployed %>
                            Machine deployed successfully
                        <% else %>
                            Machine is still deploying
                        <% end %>
                    </td>
                    
                    <td>
                        <% if machine.deployed %>

                            <%= link_to 'Destroy',  machine_path(machine.title),
                                    data: { confirm: 'Are you sure?' }, method: :delete %>
                        <% else %>
                            <span class="alert-danger">still building</span>
                        <% end %>
                    </td>
                    <td>Restart</td>%>
                    
                </tr>
            <% end %>
        </table>
    <% end %>
    
        

</div>
