<div class="col-md-12 container">
  <%= simple_form_for @machine do |f| %>
    <%= f.input :title %>
    <%= f.input :vm_user %>
    <%= f.input :ports %>
    <%= f.input :distribution, collection: @machine.distributions, input_html: {value: @machine.distributions[0]} %>
    <%= f.input :packages, {
        as: :check_boxes, 
        collection: @machine.get_packages { |p| [p, p]},
        include_hidden: false ,
        checked: false,
        input_html: { multiple: true }
      }
    %>
    
    <%= f.button :submit %>
  <% end %>
</div>