<div class="col-md-12 container">
  <%= simple_form_for :machine, :url => machine_index_path, :method => :post do |f| %>
      <div>
        <p>VM credentials</p>
        <%= f.input :username %>
        <%= f.input :password %>
      </div>

      <%= f.input :distribution, :default => 'ubuntu' , :collection => [['Ubuntu','ubuntu'],['Centos','centos']] %>

      <%= f.input :port, :label => "Open ports (comma separated list)" %>
      <%= f.input :ram, :label => "Ram disk (in gigabytes)" %>
      <%= f.input :disk_space, :label => "Disk space (in gigabytes)" %>

      <p>Common packages</p>
      <div>
        <% @packages.each do |p| %>
          <div>
            <input id="<%= p %>" type="checkbox" name="software[]" value="<%= p %>">
            <label for="<%= p %>"><%= p %></label>
          </div>
        <% end %>
      </div>
      <%= f.button :submit %>


  <% end %>
</div>